* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #DDDDDD;;
}

/* header-logo */
.header-logo {
    margin-top: 6px;
    margin-left: 25px;
}

#header-span {
    font-size: 20px;
    position: relative;
    text-align: center;
    bottom: 10px;
    font-weight: bold;
    color: #FF385C;
}

/* header-form */
form {
    text-align: center;
    display: block;
    border: 1px solid #DDDDDD;
    padding: 5px 7px;
    border-radius: 50px;
}

input {
    border: none;
    border-right: 1px solid #DDDDDD;
    width: 90px;
    padding: 8px;
    margin-right: 15px;
    outline: none;
}

::placeholder {
    text-align: center;
    color: #000;
}

#week::placeholder {
    padding-right: 15px;
}

#search {
    border-right: unset;
}

#search::placeholder {
    color: #B0B0B0;
}

#search-icon {
    color: #fff;
    border: 1px solid #FF385C;
    background: #FF385C;
    border-radius: 50%;
    padding: 5px;
}

/* header-user */
.header-user {
    margin-top: 6px;
    margin-right: 25px;
}

#globe-icon {
    margin: 10px;
    color: #000;
}

#menu {
    border: 1px solid #DDDDDD;
    border-radius: 50px;
    padding: 10px;
}

#menu-icon {
    margin: 10px;
}

#user-icon {
    border: 1px solid #DDDDDD;
    color: #fff;
    background: #B0B0B0;
    border-radius: 50%;
    padding: 6px;
}

/* content */
.content {
    display: flex;
    justify-content: space-around;
    margin-top: 30px; 
    margin-left: 20px;
    width: 95%;
}

article {
    text-align: center;
    margin: 10px;
}

article:hover {
    color: #B0B0B0;
    border-bottom: 2px solid #000;
    transition: 0.75s;
}

.content img {
    text-align: center;
    width: 40px;
    height: 40px;
}

.content span {
    display: block;
    padding-top: 5px;
}

.next {
    position: relative;
    left: 25px;
}

#next {
    border: 1px solid #B0B0B0;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-top: 20px;
}

#filter {
    position: relative;
    left: 30px;
    border: 1px solid #B0B0B0;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

#filter img {
    width: 17px;
    height: 17px;
    margin-top: 22px;
    margin-left: 5px;
}

#filter span{
    display: inline;
    position: relative;
    bottom: 2px;
    margin: 10px;
}

/* main */
.main {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
    width: 98%;
    margin-left: 25px;
}

#main-content img {
    width: 330px;
    height: 320px;
    border-radius: 25px;
}

#main-icon {
    position: relative;
    bottom: 280px;
    right: 35px;
    color: #000;
}

#main-content p {
    padding-top: 5px;
}

#name {
    font-size: 18px;
    font-weight: bold;
}

#place {
    color: #B0B0B0;
}

#price {
    font-weight: bold;
}

#main-content span {
    font-size: 16px;
    font-weight: normal;
}

#star {
    float: right;
   position: relative;
   bottom: 17px;
}

#star span {
    font-size: 14px;
    color: #000;
}